body {
   // default states

   font-family: $font-primary;
   font-size: 1.6rem;
   // font-weight:
   // line-height:
   // color:
}

.heading-1 {
   font-size: 5rem;
}

.heading-2 {
   font-size: 4.2rem;
}

.heading-3 {
   font-size: 2.6rem;
}

.heading-4 {
   font-size: 2.2rem;
}

.heading-5 {
   font-size: 1.8rem;
}

[class^='paragraph-'] {
   font-family: $font-secondary;
}

.paragraph-1 {
   font-size: 1.8rem;
}

.paragraph-3 {
   font-size: 1.4rem;
}
