body {
   // default states

   font-family: $font-primary;
   font-size: 1.6rem;
   font-weight: 400;
   line-height: 1;
   color: $color-black;
}

// all headings selector
[class^='heading-'] {
   font-family: $font-secondary;
}

.heading-1 {
   font-size: 5rem;
   line-height: 1.2;

   @include respond(tablet) {
      font-size: 4.2rem;
   }
}

.heading-2 {
   font-size: 4.2rem;
   line-height: 1.2;
}

.heading-3 {
   font-size: 2.6rem;
}

.heading-4 {
   font-size: 2.2rem;
}

.heading-5 {
   font-size: 1.8rem;
}

.paragraph-1 {
   font-size: 1.8rem;
}

.paragraph-3 {
   font-size: 1.4rem;
}

.section-banner {
   color: $color-white;

   p {
      font-size: 2rem;
      line-height: 2.6rem;

      @include respond(tablet) {
         letter-spacing: -0.85px;
         line-height: 2.4rem;
      }
   }
}

.drawer-user-window {
   &__name {
      font-size: 2rem;
   }

   &__email {
      font-size: 1.3rem;
   }
}

.section-aboutme {
   p {
      line-height: 1.38;
   }
}

.section-relationships {
   p {
      line-height: 1.4;

      @include respond(desktop-2k) {
         line-height: 1.35;
      }
   }
}

.section-requirements {
   color: $color-white;
   p {
      line-height: 1.4;
   }
}

.section-users {
   .users__semiheading {
      font-family: $font-tertiary;
      font-size: 1.8rem;

      @include respond(desktop-2k) {
         letter-spacing: -0.3px;
      }
   }

   .user-card {
      p {
         line-height: 1.35;
      }
   }
}

.section-signup {
   .form {
      label {
         font-size: 1.6rem;
      }
   }
}

.footer {
   &__contacts {
      font-size: 2rem;
   }

   &__copyright {
      font-size: 1.2rem;
   }
}
