.header,
.footer {
   &__logo {
      // height: 2.4rem;
      width: 13.2rem;
      margin: 0 5px 0 -2px; // for PP
   }

   &__navigation {
      display: flex;
      flex-grow: 1;
      align-items: center;
      margin: 0 auto;
      max-width: 48.3rem;

      & ul {
         display: flex;
         flex-grow: 1;
         justify-content: space-around;
         list-style: none;

         li {
            max-width: 11rem;
            padding-bottom: 4px;
            @include oneLineEllipsis;
         }

         li a,
         li a:link,
         li a:visited {
            text-decoration: none;
         }
      }
   }
}

.header {
   position: fixed;
   top: 0;
   width: 100%;
   background-color: $color-white;
   z-index: 500;

   .container {
      padding: 1.2rem 5rem;
      display: flex;
      align-items: center;

      & > div {
         display: flex;
         flex-grow: 1;
         align-items: center;
      }

      .header__drawer-icon {
         flex-grow: 0;
         width: 2.5rem;
         margin: 0 0 -0.3rem auto;
      }

      @include respond(desktop-2k) {
         padding: 1.2rem 2rem;
      }

      @include respond(tablet) {
         padding: 2rem 2.2rem 2rem 2.7rem;
      }
   }

   &__navigation {
      & ul {
         li a,
         li a:link,
         li a:visited {
            color: $color-black;
            transition: 0.2s color ease-in-out;

            &:hover {
               color: $color-primary;
            }
         }
      }
   }
}

@import './userWindow';

.footer {
   position: relative;
   padding: 1.9rem 0 2.7rem 0;
   background-color: $color-secondary;
   color: $color-white;

   @include respond(desktop-2k) {
      padding: 1.6rem 0 2.7rem 0;

      .container {
         padding: 0 1.5rem;
      }
   }

   // separation line
   &.container::after {
      content: '';
      height: 1px;
      width: 100%;
      display: block;
      background-color: #5f5fc4;

      position: absolute;
      top: 8.4rem;
   }

   & > div > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo-nav {
      margin-bottom: 2.2rem;
      padding: 1.2rem 0;
   }

   &__logo {
      display: block;
      margin-left: 0.1rem;
      path {
         fill: $color-white;
      }
   }

   &__navigation {
      margin: 0 -0.1rem 0 auto;
      max-width: 45.6rem;

      @include respond(desktop-2k) {
         margin: 0 0.1rem 0 auto;
      }

      & ul {
         justify-content: space-between;

         li a,
         li a:link,
         li a:visited {
            color: $color-white;
            transition: 0.2s color ease-in-out;

            &:hover {
               color: $color-primary;
            }
         }
      }
   }

   &__contacts-links {
      margin: 3.5rem 0 2.4rem 0;
   }

   &__contacts-icon {
      display: inline-block;
      width: 2.4rem;
      height: 4.05rem;
      margin-right: 1rem;
      position: relative;

      svg {
         position: absolute;
         top: 50%;
         left: 50%;
      }

      &--email svg {
         transform: translate(-50%, -46%);

         @include respond(desktop-2k) {
            transform: translate(-44%, -38%);
         }
      }
      &--phone svg {
         transform: translate(-50%, -55%);

         @include respond(desktop-2k) {
            transform: translate(-44%, -52%);
         }
      }
      &--cellphone svg {
         transform: translate(-50%, -45%);

         @include respond(desktop-2k) {
            transform: translate(-44%, -42%);
         }
      }
   }

   &__contacts-text {
      text-decoration: none;
      display: inline-block;
      vertical-align: top;
      line-height: 3.9rem;
      color: $color-white;
      transition: 0.2s color ease-in-out;
   }

   &__contacts a {
      path,
      polygon {
         fill: $color-white;
         transition: 0.2s fill ease-in-out;
      }

      &:hover {
         span {
            color: $color-primary;
         }
         path,
         polygon {
            fill: $color-primary;
         }
      }
   }

   &__links {
      table {
         text-align: right;
         margin: -0.4rem -0.3rem 0 0;
      }

      td {
         width: 15.8rem;
         height: 2.8rem;

         @include respond(desktop-2k) {
            width: 19.3rem;
         }
      }

      a {
         color: $color-white;
         text-decoration: none;
         transition: 0.2s color ease-in-out;

         &:hover {
            color: $color-primary;
         }
      }
   }

   &__copyright {
      margin-top: 0.6rem;

      @include respond(desktop-2k) {
         margin-top: -0.6rem;
      }
   }

   &__social {
      a:not(:last-child) {
         margin-right: 1.65rem;
      }

      a path {
         fill: $color-white;
         transition: 0.2s fill ease-in-out;
      }

      a:hover path {
         fill: $color-primary;
      }
   }
}
