@mixin clearfix {
   &::after {
      content: '';
      display: table;
      clear: both;
   }
}

// this mixin will prevent single line overflow
@mixin oneLineEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

// for this mixine the target should has two div outside
// and mixin should be applied to the outer div
// outer div shoud has
// overflow: hidden;
// height:
// width:
// line-height: 25px;
@mixin handleOverflow($height) {
   &:before {
      content: '';
      float: left;
      width: 5px;
      height: 200px;
   }

   & > *:first-child {
      float: right;
      width: 100%;
      margin-left: -5px;
   }

   &:after {
      content: '\02026';
      box-sizing: content-box;
      float: right;
      position: relative;
      top: -25px;
      left: 100%;
      width: 3em;
      margin-left: -3em;
      padding-right: 5px;
      text-align: right;
      background-size: 100% 100%;
      background: linear-gradient(
         to right,
         rgba(255, 255, 255, 0),
         white 50%,
         white
      );
   }
}

// MEDIA QUERY MANAGER

// 0 - 600px: Phone
// 600 - 900px: Tablet portrait
// 900 - 1200px: Tablet landscape
// [1200 - 1800] is where our normal styles apply
// 1800px+ : Big desktop

// $breakpoint argument choices:
// - phone
// - tab-port
// - tab-land
// - big-desktop

// ORDER: Base + typography > general layout + grid > page layout > components

// 1em = 16px
@mixin respond($breakpoint) {
   @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) {
         @content;
      } // 600px
   }
   @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) {
         @content;
      } // 900px
   }
   @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) {
         @content;
      } // 1200px
   }
   @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) {
         @content;
      } // 1800+px
   }
}
