// MEDIA QUERY MANAGER

// 0 - 600px: Phone
// 600 - 900px: Tablet portrait
// 900 - 1200px: Tablet landscape
// [1200 - 1800] is where our normal styles apply
// 1800px+ : Big desktop

// $breakpoint argument choices:
// - mobile
// - tab-min
// - tablet
// - desktop-2k

// 1em = 16px
@mixin respond($breakpoint) {
   @if $breakpoint == mobile {
      @media only screen and (max-width: 37.5em) {
         @content;
      } // 600px
   }
   @if $breakpoint == tab-min {
      @media only screen and (max-width: 43.75em) {
         @content;
      } // 700px
   }
   @if $breakpoint == tablet {
      @media only screen and (max-width: 56.25em) {
         @content;
      } // 900px
   }
   @if $breakpoint == desktop-2k {
      @media only screen and (min-width: 75em) {
         @content;
      } // 1200+px
   }
   @if $breakpoint == images-2k {
      @media only screen and (min-width: 120em) {
         @content;
         // 1920+px
      }
   }
}

@mixin retina {
   @media only screen and (-webkit-min-device-pixel-ratio: 1.25),
      only screen and (min--moz-device-pixel-ratio: 1.25),
      only screen and (-o-min-device-pixel-ratio: 1.25/1),
      only screen and (min-device-pixel-ratio: 1.25),
      only screen and (min-resolution: 200dpi),
      only screen and (min-resolution: 1.25dppx) {
      @content;
   }
}

@mixin clearfix {
   &::after {
      content: '';
      display: table;
      clear: both;
   }
}

// this mixin will prevent single line overflow
// only for block element
@mixin oneLineEllipsis {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}
