// COLORS
$color-primary: #ef6c00;
$color-secondary: #283593;

$color-grey-1: #8d8c8c;

$color-white: #fff;
$color-black: #000;

// FONT
$font-primary: 'Source Sans Pro', sans-serif; // 400 700
$font-secondary: 'Overpass', sans-serif; // 600

//GRID
