.user-window {
   display: flex;
   align-items: center;

   // wrapper for name and email
   &__wrapper {
      margin-left: 1rem; // this margin is just to follow the pixel perfect
      text-align: right;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
   }

   &__photo {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0 1.3rem;
   }

   &__email {
      font-size: 1.2rem;
      color: $color-grey-1;
   }

   &__name {
      font-size: 1.4rem;
   }

   &__signout {
      width: 2.4rem;
      height: 2rem;
   }
}
