.user-window {
   display: flex;
   align-items: center;

   // wrapper for name and email
   &__wrapper {
      margin-left: 5px; // for PP
      text-align: right;
      display: flex;
      flex-flow: column;
      justify-content: space-between;
   }

   &__photo {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0 1.3rem;
   }

   &__email {
      font-size: 1.2rem;
      color: $color-grey-1;
      margin: 4px 2px 0 0;
      max-width: 12rem;
      @include oneLineEllipsis;
   }

   &__name {
      font-size: 1.4rem;
      max-width: 12rem;
      @include oneLineEllipsis;
   }

   &__signout {
      width: 2.4rem;
      height: 2rem;
   }
}
