.section-signup {
   padding-bottom: 14rem;

   @include respond(desktop-2k) {
      padding-bottom: 14.9rem;

      .container {
         padding: 0 1.5rem 0 1.5rem;
      }
   }

   @include respond(tablet) {
      padding-bottom: 12rem;
   }

   .heading-2,
   .signup__semiheading {
      max-width: 100%;
      @include oneLineEllipsis;
   }

   @include respond(mobile) {
      padding-bottom: 7.1rem;
   }

   .heading-2 {
      text-align: center;
      margin-bottom: 1.4rem;

      @include respond(tablet) {
         margin-bottom: 2.4rem;
      }

      @include respond(mobile) {
         margin-bottom: 1.2rem;
      }
   }

   .heading-5 {
      text-align: center;
      margin-bottom: 4.6rem;

      @include respond(tablet) {
         white-space: normal;
         max-width: 56%;
         margin: 0 auto 3.7rem auto;
      }

      @include respond(mobile) {
         max-width: 100%;
         margin-bottom: 1.3rem;
      }
   }

   .form {
      &__input {
         width: calc(33.3% - 2rem);
         margin-bottom: 4rem;

         @include respond(tab-min) {
            width: 90%;
            margin: 2rem 5%;
         }

         @include respond(mobile) {
            width: 100%;
            margin: 1.75rem 0;
         }

         &--email {
            width: calc(33.4% - 2rem);

            @include respond(tab-min) {
               width: 90%;
               margin: 2rem 5%;
            }

            @include respond(mobile) {
               width: 100%;
               margin: 1.75rem 0;
            }
         }

         &:not(:nth-child(3)) {
            margin-right: 3rem;

            @include respond(tab-min) {
               margin-right: 0;
            }
         }
      }

      &__select {
         width: 48.5%;

         @include respond(desktop-2k) {
            width: 48.8%;
         }

         @include respond(tablet) {
            width: 47.9%;
         }

         @include respond(tab-min) {
            width: 90%;
            margin: 2rem 5%;
         }

         @include respond(mobile) {
            width: 100%;
            margin: 1.75rem 0;
         }
      }

      &__select-icon {
         position: absolute;
         top: calc(50% - 0.6rem);
         right: 2.1rem;

         @include respond(desktop-2k) {
            right: 1.6rem;
         }

         @include respond(tablet) {
            right: 1.3rem;
         }
      }

      &__upload {
         display: inline-block;
         margin-left: 3rem;
         width: calc(51.5% - 3rem);

         @include respond(desktop-2k) {
            width: calc(51.2% - 3rem);
         }

         @include respond(tablet) {
            width: calc(52% - 3rem);
         }

         @include respond(tab-min) {
            width: 90%;
            margin: 2rem 5%;
         }

         @include respond(mobile) {
            width: 100%;
            margin: 1.75rem 0;
         }

         & > div {
            display: flex;
         }
      }

      &__upload-helpertext {
         white-space: nowrap;

         @include respond(mobile) {
            white-space: normal;
            width: 99%;
            margin: 4px 18px 0;
            line-height: 1.5rem;
         }
      }

      &__submit {
         display: block;
         margin: 4.1rem auto 0 auto;
         width: 29rem;

         @include respond(desktop-2k) {
            margin: 4.4rem auto 0 auto;
         }

         @include respond(mobile) {
            margin-top: 1.2rem;
         }
      }
   }
}
