.section-relationships {
   padding-bottom: 13.8rem;

   .heading-2 {
      width: 60%;
      height: 10rem;
      margin: 0 auto 4.6rem auto;
      text-align: center;
      overflow-wrap: break-word;
      word-break: break-word;
   }

   .relationships {
      &__wrapper {
         display: flex;
      }
      &__card {
         flex: 1;
         max-width: 33%;

         &:not(:last-child) {
            margin-right: 3rem;
         }

         // its messy with this paragraphs, but in order
         // to get pixel perfect with text i had to do that
         // plus on your design pictures a bit different in size
         // but I really didn't want to make different sizing for them
         &:nth-child(2) {
            p {
               width: 85%;
               margin-left: 1px;
            }
         }

         &:nth-child(3) {
            p {
               width: 95%;
               margin-left: 2px;
            }
         }

         .heading-3 {
            margin: 2.3rem 0 1rem 0;
            @include oneLineEllipsis;
         }

         p {
            white-space: pre-wrap;
            max-height: 11rem;
            overflow-wrap: break-word;
            word-break: break-word;
         }
      }
   }
}
