.section-relationships {
   padding-bottom: 13.8rem;

   @include respond(desktop-2k) {
      padding-bottom: 14.3rem;

      .container {
         padding: 0;
      }
   }

   @include respond(tablet) {
      padding-bottom: 7.4rem;

      .container {
         padding: 0 8.8rem;
      }
   }

   @include respond(tab-min) {
      .container {
         padding: 0 4.8rem;
      }
   }

   @include respond(mobile) {
      padding-bottom: 4.2rem;

      .container {
         padding: 0 1.5rem;
      }
   }

   .heading-2 {
      width: 60%;
      height: 10rem;
      margin: 0 auto 4.6rem auto;
      text-align: center;
      overflow-wrap: break-word;
      word-break: break-word;

      @include respond(desktop-2k) {
         width: 54%;
      }

      @include respond(tablet) {
         width: 100%;
      }

      @include respond(tab-min) {
         width: 87.5%;
      }

      @include respond(mobile) {
         width: 100%;
         max-height: 6.2rem;
         margin: 0 auto 2.9rem auto;
      }
   }

   .relationships {
      &__wrapper {
         display: flex;

         @include respond(tablet) {
            flex-flow: column;
         }

         @include respond(mobile) {
            text-align: center;
         }
      }

      &__card {
         flex: 1;
         max-width: 33%;
         display: flex;
         flex-flow: column;
         align-items: flex-start;

         @include respond(desktop-2k) {
            &:first-child {
               margin-left: 1.4rem;
            }
         }

         @include respond(desktop-2k) {
            &:first-child {
               margin-left: 1.4rem;
            }
         }

         @include respond(tablet) {
            max-width: 100%;
            flex-flow: row;
            margin-bottom: 4.8rem;

            img {
               width: 8.9rem;
               margin: 0 3.4rem 0 0;
            }
         }

         @include respond(mobile) {
            flex-flow: column;
            align-items: center;
            margin-bottom: 2.8rem;

            img {
               margin: 0 0 1.4rem 0;
            }
         }

         &:not(:last-child) {
            margin-right: 3rem;

            @include respond(desktop-2k) {
               margin-right: 1.4rem;
            }

            @include respond(tablet) {
               margin-right: 0;
            }
         }

         // its messy with this paragraphs, but in order
         // to get pixel perfect with text i had to do that
         // plus on your design pictures a bit different in size
         // but I really didn't want to make different sizing for them
         &:nth-child(2) {
            p {
               width: 85%;
               margin-left: 1px;

               @include respond(tablet) {
                  width: 90%;
               }

               @include respond(tab-min) {
                  width: 100%;
               }
            }

            @include respond(mobile) {
               margin-bottom: 3.1rem;

               img {
                  margin-bottom: 1.3rem;
               }
            }
         }

         &:nth-child(3) {
            p {
               width: 95%;
               margin-left: 2px;

               @include respond(tablet) {
                  width: 100%;
               }

               @include respond(mobile) {
                  width: 95%;
                  margin: 0 2% 0 3%;
               }
            }

            @include respond(mobile) {
               img {
                  margin-bottom: 1.6rem;
               }
            }
         }

         .heading-3 {
            margin: 2.5rem 0 1rem -0.1rem;
            max-height: 5.2rem;

            @include respond(desktop-2k) {
               @include oneLineEllipsis;
            }

            @include respond(tablet) {
               @include oneLineEllipsis;
               margin: 0 0 0.6rem 0;
            }

            @include respond(mobile) {
               margin: 0 0 0.3rem 0;
            }
         }

         p {
            white-space: pre-wrap;
            max-height: 13.2rem;
            overflow-wrap: break-word;
            word-break: break-word;

            @include respond(desktop-2k) {
               max-height: 8.4rem;
            }
         }
      }
   }
}
