.section-requirements {
   background: url(/../images/bg-2.jpg) no-repeat;
   background-size: 111%;
   padding: 13.5rem 0 15.4rem 0;

   .heading-2 {
      max-width: 100%;
      text-align: center;
      margin-bottom: 3.9rem;
      @include oneLineEllipsis;
   }

   .requirements__wrapper {
      display: flex;

      p {
         max-height: 37.7rem;
         overflow-wrap: break-word;
         word-break: break-word;
      }

      img {
         margin: 1.5rem -2px 0 5rem;
      }
   }
}
