.section-banner {
   background: url(/images/bg-1.jpg) no-repeat;
   background-size: cover;
   padding: 13.3rem 0 15.8rem 0;
   margin-top: 6.4rem;

   // HD/Retina CSS
   @include retina {
      background: url(/images/bg-1@2x.jpg) no-repeat;
      background-size: cover;
   }

   @include respond(desktop-2k) {
      .container {
         padding: 0 1.6rem;
      }

      background: url(/images/bg-1_FHD.jpg) no-repeat center;
      background-size: cover;
      padding: 13.3rem 0 14rem 0;

      // HD/Retina CSS
      @include retina {
         background: url(/images/bg-1_FHD@2x.jpg) no-repeat center;
         background-size: cover;
      }
   }

   @include respond(images-2k) {
      background: url(/images/bg-1_2k.jpg) no-repeat;
      background-size: cover;

      @include retina {
         background: url(/images/bg-1_2k@2x.jpg) no-repeat;
         background-size: cover;
      }
   }

   @include respond(tablet) {
      padding: 11.5rem 0 12rem 0;
      background: url(/images/bg-1_tablet.jpg) no-repeat;
      background-size: cover;

      @include retina {
         background: url(/images/bg-1_tablet@2x.jpg) no-repeat;
         background-size: cover;
      }
   }

   @include respond(mobile) {
      padding: 6.6rem 0 7rem 0;
      background: url(/images/bg-1_mobile.jpg) no-repeat center;
      background-size: cover;

      @include retina {
         background: url(/images/bg-1_mobile@2x.jpg) no-repeat center;
         background-size: cover;
      }
   }

   .heading-1 {
      width: 46.5rem;
      height: 18rem;
      margin: 0 0 1.9rem -2px;
      overflow-wrap: break-word;
      word-break: break-word;

      @include respond(tablet) {
         width: 38rem;
         height: 15rem;
      }

      @include respond(mobile) {
         width: 100%;
         text-align: center;
         margin: 0 0 1.1rem 0;
         max-height: 10.2rem;
      }
   }

   p {
      height: 15.6rem;
      width: 43rem;
      margin-bottom: 3.9rem;
      overflow-wrap: break-word;
      word-break: break-word;

      @include respond(desktop-2k) {
         width: 56rem;
         margin-bottom: 0.7rem;
      }

      @include respond(tablet) {
         width: 40rem;
         margin-bottom: 2.2rem;
      }

      @include respond(mobile) {
         width: 100%;
         text-align: center;
         max-height: 6.6rem;
         margin-bottom: 3.7rem;
      }
   }

   .Button__primary {
      height: 4rem;
      width: 290px;

      @include respond(mobile) {
         width: 100%;
      }
   }
}
