.section-banner {
   background: url(/images/bg-1.jpg) no-repeat;
   background-size: 129.5%;
   padding: 13.3rem 0 15.8rem 0;

   .heading-1 {
      width: 50%;
      height: 18rem;
      margin: 0 0 1.9rem -2px;
      overflow-wrap: break-word;
      word-break: break-word;
   }

   p {
      height: 15.6rem;
      width: 48%;
      margin-bottom: 3.9rem;
      overflow-wrap: break-word;
      word-break: break-word;
   }

   .Button__primary {
      height: 4rem;
      width: 290px;
   }
}
